/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
.idea/*
/server/.idea/
/server/.idea/*
/client/.idea/
/client/.idea/*
